main.home {
    justify-content: center;
    align-items: center;
    display: flex;
    color: $clr-basic-700;
    flex-direction: column;
    padding-top: 24px;

    .caption {
        width: 40%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;

        h1.main-title {
            font-size: 3.2rem;

            .highlighted {
                color: $clr-danger-500;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 24px;

            button {
                color: white;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px;
                width: 200px;
                font-size: 16px;
            }

            .right {
                background-color: $clr-info-500;
                border: none;

            }

            .watch {
                background-color: transparent;
                border: 1px solid $clr-info-500;
                color: $clr-info-500;
            }
        }

        .caption-img {
            img {
                width: 100%;
            }
        }
    }

    .first-banner {
        background-color: #FFF2F2;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -100px;
        z-index: -100;

        .capture {
            font-size: 24px;
            line-height: 40px;
            color: #222B45;
            width: 42%;
            font-weight: 600;
            text-align: center;
        }
    }

    .benefits {
        display: flex;
        width: 100%;
        justify-content: center;

        .row {
            display: flex;
            gap: 350px;
            justify-content: space-between;
            width: 85%;

            .column {
                display: flex;
                flex-direction: column;
                gap: 15px;
                width: 380px;

                .title {
                    color: $clr-info-500;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                }

                .plan {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 40px;
                    color: #2E3A59;
                }
            }
        }

        .cards {
            border-radius: 0px;
            display: flex;
            flex-wrap: wrap;
            gap: 32px;

            .card {
                width: 32%;
                color: $clr-basic-700;
                border-radius: 10px;
                padding: 32px 80px;

                .card_header {

                    font-size: 1.3rem;
                    font-weight: 500;
                    padding: 32x 80px;
                }

            }
        }

        // .container {
        //     position: relative;
        //     align-items: center;

        //     .head {
        //         display: flex;
        //         font-size: 3.2rem;
        //         font-weight: 800;
        //         width: 70%;


        //         .active {
        //             color: $clr-danger-500;
        //             white-space: nowrap;
        //         }

        //         .home_text {
        //             color: $clr-basic-800;
        //             width: 60%;
        //             white-space: wrap;
        //         }
        //     }

        //     .text {
        //         color: $clr-basic-600;
        //         justify-content: center;
        //         align-items: center;
        //         left: 150px;
        //         padding: 20px 200px;
        //         width: 70%;
        //     }

        //     .buttons {
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         gap: 20px;
        //         padding: 50px;


        //         .right {
        //             background-color: $clr-info-500;
        //             color: white;
        //             border: none;
        //             border-radius: 7px;
        //             display: flex;
        //             flex-direction: row;
        //             align-items: center;
        //             justify-content: center;
        //             padding: 12px;
        //             gap: 4px;

        //             width: 199px;
        //             height: 48px;
        //         }

        //         .watch {
        //             color: $clr-info-500;
        //             background-color: white;
        //             border: 1px solid $clr-info-500;
        //             border-radius: 7px;
        //             display: flex;
        //             flex-direction: row;
        //             justify-content: center;
        //             align-items: center;
        //             padding: 0px;

        //             width: 184px;
        //             height: 48px;
        //         }
        //     }

        //     .home_footer {
        //         background-color: $clr-basic-200;
        //         position: relative;
        //         width: 100%;
        //         height: 496px;
        //         left: 0px;
        //         top: 1084px;

        //         .capture {
        //             position: absolute;
        //             width: 800px;
        //             height: 160px;
        //             left: 320px;
        //             font-weight: 400;
        //             font-size: 24px;
        //             line-height: 40px;
        //             text-align: center;
        //             align-items: center;

        //         }

        //         img {
        //             position: absolute;
        //             width: 768px;
        //             height: 577px;
        //             bottom: 330px;
        //             left: 580px;
        //         }
        //     }

        //     .second {
        //         p {
        //             color: $clr-info-500;
        //             font-size: 1.2rem;
        //         }

        //         span {
        //             color: $clr-basic-600;
        //             width: 100%;
        //         }
        //     }
        //     .cards{
        //         border-radius: 0px;
        //         display: flex;
        //         flex-wrap: wrap;
        //         gap: 32px;
        //         .card{
        //             width: 32%;
        //             color: $clr-basic-700;
        //             border-radius: 10px;
        //             padding: 32px 80px;
        //             .card_header {

        //                 font-size: 1.3rem;
        //                 font-weight: 500;
        //                 padding: 32x 80px;
        //             }

        //         }
        //     }
        // }
    }
}